<div class="card">
    <p-menubar [model]="items"></p-menubar>
</div>
<div class="grid">
    <div class="col-3">
        <div class="text-center p-3 border-round-sm  font-bold"  style="padding-right: 0px !important; padding-left: 0px !important;">
            <p-card header="Menu">
                <p-panelMenu [model]="nodes"></p-panelMenu>
            </p-card>
        </div>
    </div>
    <div class="col-9" >
        <div class="text-center p-3 border-round-sm  font-bold " style="padding-right: 0px !important; padding-left: 0px !important;">
            <p-card header="Playground" >

            </p-card>
        </div>
    </div>
</div>
 